## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

# CocoaPods
Pods/

# MacOS
.DS_Store

# Caches
**/*.xcodeproj/MockingbirdCache/
MockingbirdMocks/

# Generated
*.generated.swift
